[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mcrPioda"]
	path = mcrPioda
	url = https://github.com/piodag/mcrpioda
[submodule "rstanbdp"]
	path = rstanbdp
	url = https://github.com/piodag/rstanbdp
